* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Sofia Pro Soft Borld';

}



.estiloGris{
  color:#7A8299;
  font-size: 18px;
  
}

.contenedor1{
  width:100%;
  height: 56px;
  text-align: center;
}
.contenedor{
  width:100%;
  text-align: center;
}
.contenedor * {
  margin: 0 auto;
  text-align: center;
}

.pasos{
  width: 27%;
  height:16px;
  background-color:#0737D3;
  margin: 8px;
  border-radius: 8px;
  float:left;
  list-style-type: none;
 
}

.pasos2{
    width: 27%;
    height:16px;
    background-color:#CCD8FF;
    margin: 8px;
    border-radius: 8px;
    float:left;
    list-style-type: none;
   
  }

ul {
  width:270px;
  height:64px;
  margin: 0 auto;
}



.boton{
  width:288px;
  height:48px;
  background-color:#0737D3;
  margin: 10px auto !important;
  padding:0px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;

 
}

.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
  font-size: 20px;
  line-height: 48px;
}