<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-input placeholder="Parametro" [(ngModel)]= "valor">  </ion-input> 
	</ion-item>

	<ion-button expand="full" [routerLink]="['/segunda',valor]">
       Push con routerLink
  </ion-button>	
  

	<ion-button expand="full" (click)="pushSegunda()">
    Push con routerLink
  </ion-button>	

  <ion-button expand="full" (click)="pushSegundaNAvCtrl()">
    Push con routerLink
  </ion-button>	

  <ion-button expand="full" (click)="hacerAlgo()">
    Hacer algo
  </ion-button>	





</ion-content>
